<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
          xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.springframework.org/schema/beans"
          xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">
          <!--可以在你的struts的action文件中启用@Controller这样的注解将struts的action委托给spring进行管理  -->
          <context:annotation-config/>
          <!-- 在该“package”下所有的类都委托给了spring进行管理  -->
          <context:component-scan base-package="org.sky.ssh1.alpha" />
 
          <bean id="environmentVariablesConfiguration" class="org.jasypt.encryption.pbe.config.EnvironmentStringPBEConfig"
      p:algorithm="PBEWITHMD5ANDDES" p:passwordEnvName="APP_ENCRYPTION_PASSWORD" />
 
          <bean id="configurationEncryptor" class="org.jasypt.encryption.pbe.StandardPBEStringEncryptor"
      p:config-ref="environmentVariablesConfiguration" />
        <bean id="propertyConfigurer" class="org.jasypt.spring.properties.EncryptablePropertyPlaceholderConfigurer">
                <constructor-arg ref="configurationEncryptor" />
                <property name="locations">
                        <list>
                                <value>
                                        classpath:jdbc.properties
                                </value>
                        </list>
                </property>
        </bean>
          <context:property-placeholder location="classpath:jdbc.properties" />
          <bean id="commonsConfigurationFactoryBean" class="org.sky.ssh1.alpha.util.CommonsConfigurationFactoryBean"
      p:encryptor-ref="configurationEncryptor" p:systemPropertiesModeName="SYSTEM_PROPERTIES_MODE_OVERRIDE">
                <constructor-arg>
                        <bean class="org.apache.commons.configuration.PropertiesConfiguration">
                                <constructor-arg value="jdbc.properties" />
                        </bean>
                </constructor-arg>
        </bean>
          <bean id="propertiesConfiguration" factory-bean="&amp;commonsConfigurationFactoryBean"
       factory-method="getConfiguration" />
      <!-- you can ignore following lines -->
          <bean id="methodLoggerAdvisor" class="org.sky.ssh1.alpha.util.LoggerAdvice">
          </bean>
 
          <bean id="springUtil" class="org.sky.ssh1.alpha.util.SpringUtil">
          </bean>
          <aop:config>
                   <aop:aspect id="originalBeanAspect" ref="methodLoggerAdvisor">
 
                             <aop:pointcut id="loggerPointCut" expression="execution(* org.sky.ssh1.service.impl.*.*(..))" />
                             <aop:around method="aroundAdvice" pointcut-ref="loggerPointCut" />
                   </aop:aspect>
          </aop:config>
</beans>